
.TitleBar{
    margin-bottom: 10%; 
}

.board {
    display: flex;
    flex-direction: column;    
}

/*BUTTONS*/
.buttons {
    margin-top: .5%; 
    margin-bottom: 2.5%; 

    margin-left:25%;
    margin-right:25%; 

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between; 
}

.executiveButton {
    margin-top: .5%; 
    margin-bottom: 2.5%; 

    background-color: #00172f;
    color: #00A5E0;

    border-style: solid;
    border-width: 6px;
    border-color: #B1D34A;
    border-radius: 25px;

    padding: 10px;
}

.boardButton {
    margin-top: .5%; 
    margin-bottom: 2.5%; 

    background-color: #00172f;

    border-style: solid;
    border-width: 6px;
    border-color: #9741A3;
    border-radius: 30px;

    padding: 10px;
}

.buttons button{
    margin-top: .5%; 
    margin-bottom: 2.5%; 

    background-color: #00172f;
    border:#00172f;
    color: #00A5E0;

    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    outline: none;
}

.buttons button:hover{
    color: white;
    text-decoration: underline;
    border-color:#00172f;
    outline: none;
}

/*MEMBER PHOTO LAYOUT*/
.leftMember {
    /*margin settings*/
    margin-top: 2.5%;
    margin-bottom: 2.5%; 

    margin-left:14%;
    margin-right:14%;

    /*Boarder Style*/
    border-style: solid;
    border-width: 15px;
    border-color: #B1D34A;
    border-radius: 25px;

    
    background-color: #00172f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
    padding: 15px; 
}

.rightMember {
    /*margin setting*/
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    margin-left:14%;
    margin-right:14%;

    /*Boarder Style*/
    border-style: solid;
    border-width: 15px;
    border-color: #9741A3;
    border-radius: 25px;

    background-color: #00172f;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
   
    padding: 15px; 
}

/*PHOTO SETTING*/
.executiveLeftPhoto img {
    width: 50%;
    height: auto;
    
    display: flex;
    justify-content: center;
    border-radius: 25px;

    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.executiveRightPhoto img {
    width: 50%;
    height: auto;
    
    display: flex;
    justify-content: center;
    border-radius: 25px;

    margin-left: 30%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.leftPhoto img {
    width: 30%;
    height: auto;
    
    display: flex;
    justify-content: center;
    border-radius: 25px;

    margin-left: 10%;
    margin-right: 55%;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.rightPhoto img {
    width: 30%;
    height: auto;
    
    display: flex;
    justify-content: center;
    border-radius: 25px;

    margin-left: 55%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;   
}

/*CAPTION SETTING*/
.caption {
    text-align: center;
    white-space: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    display: flex; 
    flex-direction: column;
    font-size: 3vw;  
}

.name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.position {
    margin-top: -5px;
    margin-bottom: -5px;
    color: #00A5E0;
}