.folder-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-top: 5rem;
}

.folder-link {
  text-decoration: none;
}

.folder-wrapper {
  position: relative;
  width:300px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.folder-wrapper:hover {
  transform: scale(1.05);
}

.folder-img {
  width: 100%;
  display: block;
}

.folder-label {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 3rem;
  color: #00A5E0;
  pointer-events: none;
}
