.events-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.events-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flyers-container {
  justify-content: center;
  align-items: center;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  color: white;
}

.flyer {
  width: 400px;
  height: auto;
  border-radius: 2rem;
}

.flyer:hover {

}