.events-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.events-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.events-title {
  font-family: 'Playfair Display', serif;
  color: #C2CEAF;
  font-size: xx-large;
  text-decoration: underline;
  filter: drop-shadow(0px 0px 20px #973197);
}

.flyers-container {
  justify-content: center;
  align-items: center;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  color: white;
}

.flyer {
  width: 360px;
  height: auto;
  border-radius: 2rem;
  transition: ease-in-out 0.5s;
}

.flyer:hover {
  transition: ease-in-out 0.5s;
  filter: drop-shadow(0px 0px 20px #B1D34A);
}