.mar-page {
  /* padding: 2rem; */
  min-height: 150vh;
}

.mar-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding: 0 clamp(14px, 4vw, 40px);
}

/* 2 cards side-by-side */
.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

/* Active & Passed Card Styles */
.event-card-active,
.event-card-passed {
  padding: 1.5rem;
  border-radius: 20px;
  background: #01172F;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  text-align: left;
}

/* Border colors */
.event-card-active {
  border: 6px solid #B1D34A;
}

.event-card-passed {
  border: 6px solid #9741A3;
}

.event-card-active .event-img,
.event-card-passed .event-img {
  display: block;
  width: 60%;
  margin: 1rem auto;
  border-radius: 16px;
}

.event-card-active h2,
.event-card-passed h2 {
  color: #B1D34A;
  margin-bottom: 0.25rem;
}

.event-card-active p,
.event-card-passed p {
  color: #ffffff;
  margin: 6px 0;
}

.event-card-active strong,
.event-card-passed strong {
  color: #6DD3CE;
  font-weight: 700;
}

@media (max-width: 700px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}
