.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;       /* space between rectangles */
    padding: 40px;   /* spacing around the group */
    margin-top: 100px;  /* pushes boxes down */
  }
  
  .rectangle {
    width: 90vw;
    max-width: 1200px;
    height: auto;
    padding: 2opx;
    background-color: #01172F; /* navy inside */
    border: 10px solid #B1D34A; /* green outline */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 15px;
    font-size: 8vw;
    font-weight: bold;
    color: #3A8DEB;
  }

  .rectangle.active {
    border: 10px solid #9741A3; /* purple */
    transition: background-color 0.3s ease;
  }

  .icon {
    width: 12vw;
    max-width: 100px;
    height: 100px;
    object-fit: contain; /* keeps proportions */
  }

  .dropdown {
    background-color: #0a0f29; /* dark background */
    color: white;
    font-size: 50px;
    padding: 10px 15px;
    margin: -10px 0 20px 0; /* space below each */
    border-radius: 8px;
    max-width: 1200px;
    text-align: left;
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease, padding 0.3s ease;
  }

/* When visible */
.dropdown.show {
  max-height: 500px; /* adjust to fit content */
  opacity: 1;
  padding: 10px 15px;
}  